.sub-menu-parent { position: relative; }

.sub-menu { 
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

/* presentational */
body { padding: 2%; font: 18px/1.4 sans-serif; }

nav a { 
color: #334155; 
display: block; 
padding: 0.5em 1em; 
text-decoration: underline; 
font-size: 1rem;
font-weight: 600; }

nav a:hover { color: #FFF; }
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }

nav > ul { background: #EEE; text-align: center; }
nav > ul > li { display: inline-block; border-left: solid 1px #aaa; }
nav > ul > li:first-child { border-left: none; }

.sub-menu {
  background: #DDD;
}

.img-h {
    height: 232px;
}

/* .bg-img {
  background:  linear-gradient(rgb(0 0 0 / 92%), rgb(0, 0, 0)),  url(../img/bg.jpg);
  background-size: cover;
} */


.marg-h5 {
  margin-bottom: 20px!important;
  margin-top: 20px!important;
}

.span-color {
  color:#1a202c;
}

.button-bg {
  background-color: #334155;
            color: #fff;
            padding: 10px;
}

 ::-webkit-scrollbar {
  display: none;
 }

.bg-color {
  background-color: initial;
}

.hero-h {
  height: 13rem;
  @media screen and (min-width: 1200px) {
    height: 50rem;
  }
}

.p-style {
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  top: 10%;
  left: 20%;
  @media screen and (min-width: 1200px) {
    font-size: 32px; 
  }
}